{% extends 'MainApiBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    {% block header %}{{ parent() }}{% endblock %}

    <div id="content">
        <div id="back-notifications">

        </div>
        <div id="event-box">

        </div>






    <div id="shadow-box" style="display: none">
        <div class="participant-area"></div>
    </div>

{% endblock %}