body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
/* header */
#header-background{
    position: absolute;
    width:100%;
    height:50px;
    background-color: #CCCCCC;
}
#header{
    position: relative;
    width: 1024px;
    height: 50px;
    margin: auto auto;
}
#logo-box{
    position: absolute;
    width:60px;
    height:50px;
}
#logo-box img{
    margin-top: 5px;
    width: 30px;
    height: 40px;
}
#search-box{
    position: absolute;
    width: 450px;
    height: 50px;
    top: 10px;
    left: 50px;
}
#search-user-input{
    border-radius:3px;
    border:none;
    padding-left:4px;
    height:30px;
    width: 100%;
}
#user-box{
    position: absolute;
    left: 520px;
}
#user-box-name{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 250px;
    font-size: 19px;
}
#user-box-create{
    position: absolute;
    top: 10px;
    left: 340px;
    width: 25px;
    height: 25px;
}
#user-box-notification{
    position: absolute;
    top: 10px;
    left: 380px;
    width: 25px;
    height: 25px;
}
#user-box-logout{
    position: absolute;
    top: 10px;
    left: 420px;
    width: 25px;
    height: 25px;
}
/* end header */
/* main content */
#content{
    width:70%;
    height:100%;
    margin:0 auto;

}
/* end main content*/

/* ajax box*/
#shadow-box{
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.7);
    position:absolute;


}
.participant-area{
    width:300px;
    height:300px;
    margin:10% auto;
    background-color: #cccccc;
    border-radius: 4px;
}
.available-user{
     width:100%;
     padding:10px 5px 10px 5px;
     border-bottom:1px solid black;
 }
/* end ajax box*/
.notification{
    padding:10px 10px 10px 10px;
}
#back-notifications{
    width:50%;
    float:left;
    height:600px;
    background:silver;
}

#event-box{
    width:30%;
    float:right;
    height:600px;
    background:#E6E6E6;
}

.create-task-success-message{
    float:left;
}
